<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WpfApplication3.Properties.Settings.dlnaspect01ConnectionString"
            connectionString="Data Source=MLON12U11025C\ULNSEDRV06;Initial Catalog=dlnaspect01;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>